@import "responsive";

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-item {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    @include flex-row-center();
    gap: 1rem;
    height: fit-content;
    width: 100%;
    h3 {
      color: #36bdf8;
      font-weight: 700;
      line-height: 150%;
    }
    p {
      flex-grow: 1;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #121d26;
      font-weight: 600;
    }
    button {
      background-color: white;
      border-radius: 100%;
      height: 32px;
      aspect-ratio: 1/1;
      @include flex-col-center();
      transition: 200ms ease;
    }
  }

  &__desc {
    display: grid;
    grid-template-rows: 0fr;
    transition: 200ms grid-template-rows ease;
    opacity: 0;
    p {
      overflow: hidden;
      line-height: 200%;
    }
  }

  &--active {
    .faq-item__desc {
      grid-template-rows: 1fr;
      opacity: 1;
      padding: 2rem 2rem 0 2rem;
    }
    .btn-dropdown {
      transform: rotate(180deg);
    }
  }
}
