@import "responsive";

@import "_footer";

@import "_header";

@import "_news";

@import "_news-detail";

@import "_store";

@import "_product-detail";

@import "_home";

@import "_betia-1";

@import "_audio-book";

$btnBasePrimaryColor: #36bdf8;
$btnBaseSecondaryColor: #dadada;
$whiteColor: #ffffff;
$textSecondaryColor: #001d6c;
$paddingNormal: 30px;
$pageHeaderTitleColor: #121d26;

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-base-primary {
  padding: 0.5rem 1rem;
  background-color: $btnBasePrimaryColor;
  color: $whiteColor;
  border-radius: 0.5rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
  height: 2.5rem;
}

.btn-base-primary-large {
  width: 100%;
  padding: 1rem;
  background-color: $btnBasePrimaryColor;
  color: $whiteColor !important;
  border-radius: 50rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
  font-style: normal !important;
  font-size: 16px;
  @include flex-row-center();
  gap: 1rem;
  @include tablet {
    padding: 1.25rem;
    font-size: 20px;
  }
  @include desktop {
    padding: 1.5rem;
    font-size: 20px !important;
  }
  i {
    margin-right: 1rem;
  }
}

.btn-base-orange-large {
  width: 100%;
  padding: 0.75rem 1.25rem;
  @include flex-row-center();
  border-radius: 50px;
  background: #ff6000;
  color: $whiteColor;
  gap: 1rem;

  @include tablet {
    padding: 1.25rem;
    font-size: 20px;
  }
  @include desktop {
    padding: 1.5rem;
    font-size: 20px !important;
  }
  i {
    margin-right: 1rem;
  }
}

.btn-base-secondary {
  padding: 0.5rem 1rem;
  background-color: $btnBaseSecondaryColor;
  color: $textSecondaryColor;
  border-radius: 0.5rem;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
  height: 2.5rem;
}

.page {
  &__container {
    padding: 6.25rem 2rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
    img {
      aspect-ratio: 1/1;
      width: 40px;
      height: 40px;
      object-fit: cover;
      @include tablet {
        width: 60px;
        height: 60px;
      }

      @include desktop {
        width: 80px;
        height: 80px;
      }
    }

    h1 {
      color: $pageHeaderTitleColor;
      font-size: 28px;
      font-weight: 700;
      line-height: 72px;
      @include tablet {
        font-size: 40px;
      }

      @include desktop {
        font-size: 50px;
      }
    }
  }
}

.tabs {
  &__header {
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
    &--items {
      padding: 6px 20px;
      border-radius: 65px;
      background: #f8f8f8;
      line-height: 28px;
    }

    &--active {
      background: #36bdf8;
      font-weight: bold;
      color: white;
    }
  }

  &__contents {
    &--items {
      display: none;
    }

    &--active {
      display: block;
    }
  }
}
