.page-layout {
  display: flex;
}
.page-layout .page-navigate {
  display: none;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
}
.page-layout .page-navigate .logo-betia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-layout .page-navigate .lst-tab-nav {
  margin-bottom: 4%;
  flex: 1;
}
.page-layout .page-navigate .account-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .page-layout .page-navigate {
    display: block;
    flex: 0 0 25%;
    padding: 1.5rem;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .page-layout .page-navigate {
    flex: 0 0 15%;
  }
}
.page-layout .page-content {
  flex: 1;
  padding: 1.5rem;
}

.services-item {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}
.services-item__title {
  margin-bottom: 1rem;
}
.services-item__title p {
  color: #ff0000;
  line-height: 1.5;
}
.services-item__title h3 {
  color: #121d26;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
}
.services-item__contents {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .services-item__contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nav-item {
  width: 100%;
  padding: 1rem 0.75rem;
  color: #252525;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.nav-item:last-child {
  margin-bottom: 0;
}
.nav-item--active, .nav-item:hover {
  background: linear-gradient(to right, #0095da, #00bfff);
  color: white;
}

.btn-base {
  width: fit-content;
  min-width: 120px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #01b3f5;
  color: #01b3f5;
  padding: 0.75rem 1.25rem;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-base:hover {
  color: white;
  background-color: #01b3f5;
}

.hyper-link-base {
  color: #01b3f5;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hyper-link-base:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .hyper-link-base {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  .hyper-link-base {
    font-size: 1.25rem;
  }
}

.package-item {
  width: 100%;
  background-color: #fff;
  color: #121d26;
  padding: 1.5rem;
  border-radius: 1.25rem;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.package-item__header {
  width: 100%;
}
.package-item__header img {
  width: 100%;
}
.package-item__body {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.package-item__body .package-name {
  width: 100%;
  flex: 1;
  margin-bottom: 1rem;
}
.package-item__body .package-name--title {
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .package-item__body .package-name--title {
    font-size: 1.375rem;
  }
}
@media (min-width: 1024px) {
  .package-item__body .package-name--title {
    font-size: 1.5rem;
  }
}
.package-item__body .package-name--desc {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (min-width: 768px) {
  .package-item__body .package-name--desc {
    font-size: 1rem;
  }
}
.package-item__body .package-prize {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
}
.package-item__body .package-prize h3 {
  font-size: 1.25rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .package-item__body .package-prize h3 {
    font-size: 1.675rem;
  }
}
@media (min-width: 1024px) {
  .package-item__body .package-prize h3 {
    font-size: 30px;
  }
}
.package-item__body .package-prize--sale {
  text-align: center;
  font-size: 0.75rem;
}
.package-item__body .package-prize--sale p {
  color: #ff0000;
}
.package-item__body .package-prize--sale del {
  color: #a0a5a8;
}
@media (min-width: 768px) {
  .package-item__body .package-prize--sale {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .package-item__body .package-prize--sale {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .package-item__body .package-prize {
    flex-direction: row;
    gap: 1rem;
  }
}
.package-item__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
